node_modules
dist
build
.agent
.agents
.claude
.kilo
.kilocode
.gemini
.cache
.bun-cache
.wrangler
*.env
*.dev.vars
*.local.vars
*.vars
*.env.local
*.env.development
*/*/node_modules
*/*/dist
*/*/build
*/*/.agent
*/*/.agents
*/*/.claude
*/*/.kilo
*/*/.kilocode
*/*/.gemini
*/*/.cache
*/*/.bun-cache
*/*/.wrangler
*/.claude/settings.local.json
*.log
